
/* customise semantic css elements - using the right bootstrap terms / element names */


/* .ui.button {
  float: right;
  margin: 0;
} */

/*  SEMANTIC UI CARDS  */

.ui.segment {
  font-size: 1.2rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Lato', sans-serif;
}


.ui.blue.segment:not(.inverted)  {
  border: 2px solid #2185d0;
  /* font-family: 'Lora', serif; */
  
}

.ui.three.cards {
  margin: 1%;
}

.ui.fluid.card {
  border: blanchedalmond;
  border-style: ridge;
  font-size: 1.2rem;
}

.ui.two.cards {
  margin: 0;
}



.ui.form {
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem;
  font-family: 'Lora', serif;
}

.ui.image.profile-card-image {
  width: 90%;
  margin: auto;
}



.ui.grid {
  padding: 1%;
  width: 100%;
}

.ui.card-image {
  width: 100%;
  margin-left: auto;
  margin-right: auto; 
} 

.ui.large.image {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}



.ui.profile-card-image {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
} 


.ui.button {
  margin: 1%;
  background-color: honeydew;
  font-size: 1.2rem;
}

.ui.button.stock-items {
  margin-top: 10%;
  margin-bottom: 5%;
  position: inherit-relative;
  float: left;
  font-size: 1.2rem;
}

.ui.button.plus-btn {
  font-size: 1.2rem;
  background-color: rgba(124, 248, 145, 0.863);
  width: 100%;
}

.ui.button.submit {
  font-size: 1.2rem;
  background-color: rgba(124, 248, 145, 0.863);
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.ui.button.plus-note-btn {
  font-size: 1.2rem;
  background-color: rgba(124, 248, 145, 0.863);
  float: right;
}

.ui.button.delete-stock {
  background-color: rgba(231, 117, 117, 0.863);
  font-size: 1.2rem;
  width: 100%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.ui.button.btn-signup {
  margin-right: 2%;
  float: right;
  color: white;
  font-size: 1.2rem;
  background-color: #4183c4;
}

.ui.button.btn-login {
  margin-top: 1%;
  margin-bottom: 1%;
  float: right;
  font-size: 1.2rem;
}

.ui.button.btn-logout {
  float: right;
  color: white;
  font-size: 1.2rem;
  background-color: #4183c4;
}

.ui.button.stock-list {
  background-color: aliceblue;
  font-size: 1.2rem;
}

.ui.button.google-stock {
  width: 100%;
  margin-right: 2%;
  padding: 3%;
  font-size: 1.5rem;
  border: #2185d0;
}

.ui.instagram.button.copy-clipboard-btn {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1%;
}

.ui.green.button.copy-clipboard-btn {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1%;
}

.ui.black.button.copy-clipboard-btn:hover {
  background-color: darkgreen;
}





