
/* customise semantic css elements - using the right bootstrap terms / element names */


/*  SEMANTIC UI CARDS  */
.ui.three.cards {
  margin: 1%;
}

.ui.large.image {
  width: 100%;
}

.ui.grid {
  padding: 1%;
  width: 100%;
}

.ui.card-image {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
} 

.ui.profile-card-image {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
} 

.article-title-text {
  font-size: 2rem;
}

.row.pt-4.text-left {
  color: black;
}

.ui.button {
  margin: 1%;
  background-color: honeydew;
}

.ui.button.stock-list {
  background-color: darkseagreen;
}

.ui.button.stock-list:hover {
  background-color: #b5cc18;
}




