
/* customise semantic css elements - using the right bootstrap terms / element names */


/* .ui.button {
  float: right;
  margin: 0;
} */

/*  SEMANTIC UI CARDS  */
.ui.three.cards {
  margin: 1%;
}

.ui.fluid.card {
  border: blanchedalmond;
  border-style: ridge;
}

.grey-text {
  font-family: 'Lora', serif;
  padding-top: 1%;
}

.grey-text-larger {
  font-family: 'Lora', serif;
  font-size: 1.4rem;
  text-decoration: underline;
  text-decoration-style: double;
  padding-top: 1%;
  margin-bottom: 2%;
  /* text-align: center; */
  margin-left: auto;
  margin-right: auto;
}

.ui.form {
  
  margin-left: auto;
  margin-right: auto;
}

.ui.image.profile-card-image {
  width: 90%;
  margin: auto;
}



.ui.grid {
  padding: 1%;
  width: 100%;
}

.ui.card-image {
  width: 100%;
  margin-left: auto;
  margin-right: auto; 
} 

.ui.large.image {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}



.ui.profile-card-image {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
} 


.ui.button {
  margin: 1%;
  background-color: honeydew;
}

.ui.button.stock-items {
  margin-top: 10%;
  margin-bottom: 5%;
  position: inherit-relative;
  float: left;
  font-size: 1.2rem;
}

.ui.button.plus-btn {
  font-size: 1.2rem;
  background-color: rgba(124, 248, 145, 0.863);
  width: 100%;
}

.ui.button.plus-note-btn {
  font-size: 1.2rem;
  background-color: rgba(124, 248, 145, 0.863);
  float: right;
}

.ui.button.delete-stock {
  background-color: rgba(231, 117, 117, 0.863);
  font-size: 1.2rem;
  width: 100%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.ui.button.btn-signup {
  margin-right: 2%;
  float: right;
  color: white;
  background-color: #4183c4;
}

.ui.button.btn-login {
  margin-top: 1%;
  margin-bottom: 1%;
  float: right;
}

.ui.button.btn-logout {
  float: right;
  color: white;
  background-color: #4183c4;
}

.ui.button.stock-list {
  background-color: aliceblue;
  font-size: 1.2rem;
}

.ui.button.google-stock {
  width: 100%;
  margin-right: 2%;
  padding: 3%;
  font-size: 1.5rem;
}






