.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  
  height: 100vh;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */


/*  CUSTOM CSS FOR NEWS ARTICLES IN MAIN_CONTENT */
/* .main-content {
  flex: 1;
  background: #aaa;
  margin: 2rem;
  overflow-y: scroll;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: block;
  margin-left: 2%;
  float:left;
  padding: 1%;
} 

.card {
  display: flex;
  border: black solid 3px;
  border-radius: 25px;
  margin: 1%;
}

.image {
  width: 60%;
  border-radius: 20px;
} */


.main-content {
  flex: 1;
  background: #aaa;
  margin: 2rem;
  overflow-y: scroll;
}


/* PROFILE CONTAINERS + sub components */
.whole-profile-container {
  display: flex;
  margin: 2rem;
  text-align: center;
  flex-direction: row;
  height: 100vh;
}

.stock-list {
  /* flex: 1; */
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  flex-basis: 10%;
  justify-content: center;
  background: #ddd;
  margin-right: 1%;
  padding: 1% 1%;


  /* width: 200px;     -  Didn't seem to work */
}

.all-your-stock-news {
  flex: 1;
  flex-basis: 65%;
  background: #aaa;
  overflow-y: scroll;
  margin-right: 1%;
}


.specific-single-stock-news {
  flex: 1;
  flex-basis: 65%;
  background: #aaa;
  overflow-y: scroll;
  margin-right: 1%;
  /* width: 500px; */
}

.stock-notes {
  padding: 0;
  flex: 1;
  display: flex;
  flex-basis: 25%;
  overflow-y: scroll;
  height: 100vh;
  /* justify-content: center; */
  background: #e7e7e7;
  width: 500px;
}

.ui.black.button.copy-clipboard-btn {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.ui.green.button.copy-clipboard-btn {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.ui.black.button.copy-clipboard-btn:hover {
  background-color: darkgreen;
}


/* .scroller {
  margin: 0 auto;
  height: 300px;
  width: 300px;
  overflow: auto;
} */

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */



/* Sticky Nav Bar */

/* .fixedTop {
  position: sticky;
  top: 0;
  z-index: 10;
} */


