.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  
  height: 100vh;
}

.navbar {
  display: inline;
}

.stockNote-title.navbar-header {
  float: left;
  padding-top: 1%;
  padding-left: 1%;
  font-size: 4rem;
  font-family: 'Lora', serif;
}

.welcome-user {
  font-size: 3rem;
  font-family: 'Lora', serif;
  float: right;
  margin-top: 1.2%;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */


/*  CUSTOM CSS FOR NEWS ARTICLES IN MAIN_CONTENT */
/* .main-content {
  flex: 1;
  background: #aaa;
  margin: 2rem;
  overflow-y: scroll;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: block;
  margin-left: 2%;
  float:left;
  padding: 1%;
} 

.card {
  display: flex;
  border: black solid 3px;
  border-radius: 25px;
  margin: 1%;
}

.image {
  width: 60%;
  border-radius: 20px;
} */

.article-title-text {
  font-size: 2rem;
}

.row.pt-4.text-left {
  color: black;
  text-align: left;
  width: 90%;
  margin: auto;
}


.main-content {
  flex: 1;
  background: aliceblue;
  margin: 2rem;
  overflow-y: scroll;
  padding-top: 1%;
}


/* PROFILE CONTAINERS + sub components */
.whole-profile-container {
  display: flex;
  margin: 2rem;
  text-align: center;
  flex-direction: row;
  height: 100vh;
}

.display-2.text-centre {
  font-family: 'Lora', serif;
  width: 90%;
  margin: auto;
}
.row.pt-4.text-left {
  font-family: 'Lato', sans-serif;
}



.stock-list {
  /* flex: 1; */
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  text-align: left;
  flex-basis: 20%;
  margin-right: 1%;
  justify-content: left;
  background: aliceblue;
  float: left;
  padding: 1% 1%;


  /* width: 200px;     -  Didn't seem to work */
}

.all-your-stock-news {
  flex: 1;
  flex-basis: 65%;
  background: #f0fff099;
  overflow-y: scroll;
  margin-right: 1%;
}

.specific-single-stock-news {
  padding: 0;
  flex: 1;
  display: flex;
  flex-basis: 65%;
  overflow-y: scroll;
  height: 100vh;
  /* justify-content: center; */
  background: #b5cc18;
  width: 70%;
  /* flex: 1;
  flex-basis: 65%;
  background:  #b5cc18;
  height: 150 vh;
  overflow-y: scroll;
  margin-right: 1%;
  width: 500px; */
}

.chart-container {
  display: flex;
  margin: 2rem;
  text-align: center;
  flex-direction: row;
  height: 50vh;
}

.chartjs-render-monitor {
  flex: 1;
  display: flex;
  flex-basis: 50%;
}


.stock-notes {
  padding: 0;
  margin-left: 1%;
  flex: 1;
  display: flex;
  flex-basis: 25%;
  overflow-y: scroll;
  height: 100vh;
  /* justify-content: center; */
  background: #e7e7e7;
  width: 30%;
}

.my-notes {
  font-family: 'Lora', serif;
  font-size: 2rem;
  text-align: left;
  margin-bottom: 3%;
  

}

.ui.black.button.copy-clipboard-btn {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.ui.green.button.copy-clipboard-btn {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.ui.black.button.copy-clipboard-btn:hover {
  background-color: darkgreen;
}


/* .scroller {
  margin: 0 auto;
  height: 300px;
  width: 300px;
  overflow: auto;
} */

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */



/* Sticky Nav Bar */

/* .fixedTop {
  position: sticky;
  top: 0;
  z-index: 10;
} */


