.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  
  height: 100vh;
}

.navbar {
  display: inline;
}

h1{
  font-family: 'Lora', serif;
}


.stockNote-title.navbar-header {
  float: left;
  padding-top: 1%;
  padding-left: 1%;
  font-size: 4rem;
  font-family: 'Lora', serif;
}

.welcome-user {
  font-size: 3rem;
  font-family: 'Lora', serif;
  float: right;
  margin-top: 1.2%;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */


/*  CUSTOM CSS FOR NEWS ARTICLES IN MAIN_CONTENT */
/* .main-content {
  flex: 1;
  background: #aaa;
  margin: 2rem;
  overflow-y: scroll;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: block;
  margin-left: 2%;
  float:left;
  padding: 1%;
} 

.card {
  display: flex;
  border: black solid 3px;
  border-radius: 25px;
  margin: 1%;
}

.image {
  width: 60%;
  border-radius: 20px;
} */

.article-title-text {
  font-size: 2rem;
}

.row.pt-4.text-left {
  color: black;
  font-size: 1.2rem;
  font-family: 'Lato', sans-serif;
  text-align: left;
  width: 90%;
  margin: auto;
}


.main-content {
  flex: 1;
  background: aliceblue;
  margin: 2rem;
  overflow-y: scroll;
  padding-top: 1%;
}


/* PROFILE CONTAINERS + sub components */
.whole-profile-container {
  display: flex;
  margin: 2rem;
  /* text-align: left; */
  flex-direction: row;
  height: 100vh;
}

.display-2.text-centre {
  font-family: 'Lora', serif;
  width: 90%;
  margin: auto;
}
.row.pt-4.text-left {
  font-family: 'Lato', sans-serif;
}


.stock-list {
  /* flex: 1; */
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  align-content: left;
  align-content: flex-start;
  flex-basis: 15%;
  margin-right: 1%;
  /* justify-content: left; */
  background: aliceblue;
  /* float: left; */
  width: 100%;
  padding: 1% 1%;
  /* position: fixed; */
  font-family: 'Lora', serif;
  font-size: 1.4rem;
  text-decoration: underline;
  padding-top: 1%;
}


.grey-text-larger {
  width: 100%;
}

.stock-form {
  width: 60%;
}

.all-your-stock-news {
  flex: 1;
  flex-basis: 60%;
  background: #f0fff099;
  overflow-y: scroll;
  margin-right: 1%;
}

.profile-card-image {
  width: 90%;
  margin: auto;
}

.single-stock-full-container {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  margin-right: 1%;
  height: 150vh;
}

.col1-chart-and-news {
  flex: 1;
  display: flex;
}
.chart-container {
  display: flex;
  /* margin: 1rem; */
  text-align: center;
  flex-direction: row;
  width: 100%;
}

.chartjs-size-monitor {
  flex: 1;
  display: flex;
  flex-basis: 50%;
  height: 200%;
  width: 100%;
}


.specific-single-stock-news {
  /* padding: 2%; */
  flex: 1;
  display: flex;
  /* flex-basis: 65%; */
  overflow-y: scroll;
  height: 80vh;
  /* justify-content: center; */
  background: blanchedalmond;
  margin-right: 2%;
  /* margin-left: 5%; */
}

.stock-notes {
  /* padding: 0; */
  /* margin-left: 20%; */
  flex: 1;
  display: flex;
  /* flex-basis: 15%; */
  text-align: left;
  overflow-y: scroll;
  height: 150vh;
  /* justify-content: center; */
  background: aliceblue;
  /* width: 30%; */
  align-items: flex-start;
}

.my-notes-nav {
  font-family: 'Lora', serif;
  font-size: 2rem;
  text-align: left;
  margin-bottom: 3%;
  position: -webkit-sticky;
  position: sticky;
  height: 10vh;
  top: 1rem;
  z-index: 10;
  width: 100%;
  background-color: aliceblue;
}

.note-display {
  z-index: 5;
}

.filter-articles {
  margin-top: 1%;
  margin-bottom: 1%;
  width: 25%;
}




/* .scroller {
  margin: 0 auto;
  height: 300px;
  width: 300px;
  overflow: auto;
} */

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */



/* Sticky Nav Bar */

/* .fixedTop {
  position: sticky;
  top: 0;
  z-index: 10;
} */


